body {
  font-family: 'Raleway', sans-serif;
}

[v-cloak] {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.33s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0.3;
}

.sb-column {
  padding: 0 16px;
}

.sb-toast {

  &__container {
    bottom: 25% !important;
  }

  &__content {
    font-size: sp(18) !important;
    font-family: Roboto;
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    justify-content: center !important;

    &--success {
      background-color: $color-success !important;
    }

    &--warning {
      background-color: $color-warning !important;
    }

    &--error {
      background-color: $color-error !important;
    }
  }
}

.sb-wordbreak {
  // These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;

  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  hyphens: auto;
}

.v-messages {

  &__message {
    font-weight: 600;
    font-size: sp(16);
  }
}

.v-label--active {

  &.error {

    &--text {
      font-weight: 800;
      font-size: sp(20);
    }
  }
}


.v-btn {

  &--floating {
    min-width: 0;
    height: 40px;
    width: 40px;
    margin: 5px !important;

    @include vp-md {
      height: 56px;
      width: 56px;
      margin: initial;
    }
  }
}
