.sb-listing {
  padding: sp(10);

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: sp(100);
  }

  &__background {
    &--blue {
      background-color: blue !important;

      &:before,
      &:after {
        border-right: 10px solid blue !important;
      }
    }

    &--green {
      background-color: green !important;

      &:before,
      &:after {
        border-right: 10px solid green !important;
      }
    }

    &--orange {
      background-color: orange !important;

      &:before,
      &:after {
        border-right: 10px solid orange !important;
      }
    }

    &--purple {
      background-color: purple !important;

      &:before,
      &:after {
        border-right: 10px solid purple !important;
      }
    }

    &--pink {
      background-color: pink !important;

      &:before,
      &:after {
        border-right: 10px solid pink !important;
      }
    }
  }
}

.sb-progress {
  height: sp(2) !important;
  margin: auto 0 !important;
}

// HEADS UP: overwrite the default styles of vuetify
