//
// Colors
// Find a color name:
// http://chir.ag/projects/name-that-color/#6195ED
// --------------------------------------------------

// Main Colors
$color-black-solid: #000000;
$color-white-paper-white: #ffffff;

// Background colors
$color-background-default: rgb(63, 103, 166);
$color-background-content: #b0c0d9; //rgb(245, 245, 245);
$color-background-links--middle: #dddddd;
$color-background-elements: #dbe8ff;
$color-background-circle: #3f67a6;
$color-background-tag: #3f67a6;
$color-background-tag--hover: darken($color-background-tag, 5%);

// Border colors
$color-border-timeline: #dbdbdb;
$color-border-circle: #dbdbdb;

// Shadow colors
$color-column-shadow: rgba(163, 163, 163, 1);

// Font Colors
$color-font-default: #3f67a6;
$color-font-elements: #235ebc;

// Icon colors
$color-icon-content: #3f67a6;

// Toast messages
$color-success: #4caf50;
$color-warning: #ffae42;
$color-error: #fb6145;

// Listing card background
$color-card-background--blue: #2196f3;
$color-card-background--green: #4caf50;
$color-card-background--orange: #ff9800;
$color-card-background--purple: #9c27b0;
$color-card-background--pink: #e91e63;
$color-card-background--darkgrey: #424242;
